<h2> Thank you! </h2>

<br>

<h4> Thank you for your feedback, here is the data we received:</h4>

<br>

<h6>Name: {{ name }} </h6>
<h6>Email: {{ email }} </h6>
<h6>Comments: {{ comments }} </h6>
<h6>Current Student: {{ currentStudent }} </h6>

<br>

<p><a href="/">Back to home page</a></p>